<div id="fixed-currency">
	<div>
		<a href="/currency/KES" class="fixed kes {{ session.currency }}">KES
			<span> Kenya Shillings </span></a>
	</div>
	<div>
		<a href="/currency/productPriceCFA" class="fixed cfa {{ session.currency }}">CFA <span>CFA Francs</span></a>
	</div>
	<div>
		<a href="/currency/productPriceUSD" class="fixed usd {{ session.currency }}">USD <span>US Dollars</span></a>
	</div>
	<div>
		<a href="/currency/productPriceEUR" class="fixed eur {{ session.currency }}">EUR <span>European Euros</span></a>
	</div>
</div>

<style>

</style>