<a href="/currency/KES" class="float">
	KES
</a>
<a href="/currency/productPriceCFA" class="float1">
	CFA
</a>
<a href="/currency/productPriceUSD" class="float2">
	USD
</a>
<a href="/currency/productPriceEUR" class="float3">
	EUR
</a>

<style>
	* {
		padding: 0;
		margin: 0;
	}

	.float {
		position: fixed;
		width: 60px;
		height: 30px;
		bottom: 50%;
		right: 1px;
		background-color: #d9ab73;
		color: #FFF;
		border-radius: 1px;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
		z-index: 2000;
	}

	.float1 {
		position: fixed;
		width: 60px;
		height: 30px;
		bottom: 46.8%;
		right: 1px;
		background-color: #d9ab73;
		color: #FFF;
		border-radius: 1px;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
		z-index: 2000;
	}

	.float2 {
		position: fixed;
		width: 60px;
		height: 30px;
		bottom: 43.8%;
		right: 1px;
		background-color: #d9ab73;
		color: #FFF;
		border-radius: 1px;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
		z-index: 2000;
	}

	.float3 {
		position: fixed;
		width: 60px;
		height: 30px;
		bottom: 40.8%;
		right: 1px;
		background-color: #d9ab73;
		color: #FFF;
		border-radius: 1px;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
		z-index: 2000;
	}

	.my-float {
		margin-top: 22px;
	}
</style>