.overlay-contentpush {
  width: 25%;
  text-align: right;
  color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);

  .overlay-close {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  nav {
    // text-align: right;
    padding: 25px;
  }

  .nav-link {
    text-transform: uppercase;
  }
}

.logo {
  .navbar-brand {
    border: 0 !important;
    margin-top: -20px;
  }
  .ml-logo {
    width: 80px;
  }
}

.navCustomerPresent {
  position: fixed;
  right: 95px !important;
}

.navCartButton {
  position: fixed;
  right: 5px;
}

.navLanguageButton {
  position: fixed;
  right: 50px !important;
}

@media only screen and (max-width: 600px) {
  .overlay-contentpush {
    width: 50%;
  }

  .ml-logo {
    width: 50px !important;
  }

  #home {
    .navCustomerPresent {
      right: 150px !important;
    }

    .navCartButton {
      right: 110px !important;
    }

    .navLanguageButton {
      right: 70px !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .overlay-contentpush {
    width: 50%;
  }

  .ml-logo {
    width: 50px !important;
  }

  #home {
    .navCustomerPresent {
      right: 160px !important;
    }

    .navCartButton {
      right: 110px !important;
    }

    .navLanguageButton {
      right: 60px !important;
    }
  }
}
