.cart-body {
  // border: 1px solid $primary_color;
  padding: 0;

  .card-title {
    font-family: $font_2_family;
    color: $primary_color;
    padding: 10px;
  }

  .cart-product > div {
    padding: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    width: 97%;
    margin: 5px auto;

    .cart-image {
      img {
        width: 100px !important;
        border-bottom: 3px solid #eee;
        border-radius: 10px;
        // border: 1px solid red;
      }
    }

    .btn-delete-from-cart {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  .remove {
    ion-icon {
      font-size: 1.3em;
      color: #e94f37;
      transition: $color_transition;

      &:hover {
        color: #ca2e16;
      }
    }
  }

  .cartTotalsWrapper {
    padding-right: 10px;
    padding-bottom: 10px;
  }
}
