.customRadioButtons {
  // border: 1px solid $primary_color;
  // padding: 10px;

  .colorOption {
    margin: 15px 0;

    input[type='radio'] {
      display: none;

      + label {
        font-weight: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: sans-serif;
        span {
          display: inline-block;
          width: 40px;
          height: 40px;
          margin: -1px 4px 0 0;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 50%;
          border: 5px solid #fff;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 2, 0.33);
          background-repeat: no-repeat;
          background-position: center;
          text-align: center;
          line-height: 40px;

          img {
            opacity: 0;
            transition: all 0.3s ease;
          }
        }
      }
      &:checked + label span img {
        // opacity: 1;
      }
      &:checked + label span {
        // box-shadow: 0 1px 3px 0 rgba(0, 1, 2, 0.83);
        border: 5px solid #000;
      }
    }
  }
}

#relatedProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5%;

  .product-men {
    width: 23% !important;
    min-width: 23% !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  #relatedProducts {
    gap: 10px !important;

    .product-men {
      width: 32% !important;
    }

    .product-shoe-info {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  #relatedProducts {
    gap: 5px !important;

    .product-men {
      width: 48% !important;
    }

    .product-shoe-info {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
      font-size: 0.9em !important;
    }
  }
}

.colorBox {
  width: 25px;
  height: 25px;
}
