.main-cart {
  margin-top: 40px;
  max-width: 100% !important; }
  .main-cart .cart-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(217, 171, 115, 0.3);
    box-shadow: 1px 2px 2px rgba(217, 171, 115, 0.1);
    padding: 5px; }
    .main-cart .cart-item .cart-image,
    .main-cart .cart-item .cart-title,
    .main-cart .cart-item .cart-quantity,
    .main-cart .cart-item .cart-price {
      display: inline-block; }
    .main-cart .cart-item .cart-image img {
      max-width: 60px;
      max-height: 80px;
      flex-grow: 1;
      object-fit: cover; }
    .main-cart .cart-item .cart-title {
      padding: 10px;
      width: 65%;
      height: 60px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .main-cart .cart-item .cart-title .title {
        margin-left: 15px; }
        .main-cart .cart-item .cart-title .title h6 {
          font-size: 0.9em;
          letter-spacing: 0.5px;
          font-weight: 500; }
      .main-cart .cart-item .cart-title .remove button {
        background-color: #999;
        color: #fff;
        border-radius: 5px;
        width: 20px;
        height: 20px;
        padding: 0;
        outline: none;
        border: 0;
        transition: all 0.3s ease-in-out; }
        .main-cart .cart-item .cart-title .remove button:hover {
          background-color: #000; }
    .main-cart .cart-item .cart-quantity {
      padding: 0 10px;
      width: 170px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .main-cart .cart-item .cart-quantity input,
      .main-cart .cart-item .cart-quantity button {
        display: inline-block; }
      .main-cart .cart-item .cart-quantity .input-group {
        display: flex; }
      .main-cart .cart-item .cart-quantity input {
        height: 50px;
        width: 50%;
        border: 1px solid #eee; }
      .main-cart .cart-item .cart-quantity button {
        border: 1px solid #eee;
        width: 30px;
        border-radius: 0px;
        font-weight: bold;
        font-size: 1.2em;
        height: 50px; }
    .main-cart .cart-item .cart-price {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
  .main-cart .title {
    font-family: 'Josefin Sans', sans-serif; }
  .main-cart .btn-delete-from-cart {
    background-color: rgba(0, 0, 0, 0); }
  .main-cart .cartTotalsWrapper {
    margin-bottom: 20px; }
    .main-cart .cartTotalsWrapper .cart-totals {
      padding: 10px;
      background-color: #fcfcfc;
      border: 1px solid #eee;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      padding-right: 75px; }
      .main-cart .cartTotalsWrapper .cart-totals h6 {
        margin-bottom: 10px;
        font-weight: bold; }

.cart-buttons .cart-inner-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px; }

.cart-buttons .mainBtn {
  margin-left: 10px; }

a.mainBtn {
  color: #fff !important; }

@media only screen and (max-width: 992px) {
  .main-cart {
    padding-right: 40px; }
  .cart-totals {
    padding: 10px;
    background-color: #fcfcfc;
    border: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 15px !important; }
    .cart-totals h6 {
      margin-bottom: 10px;
      font-weight: bold; }
  .cart-inner-buttons {
    padding-right: 15px !important;
    justify-content: flex-end; } }

@media only screen and (max-width: 600px) {
  .main-cart {
    padding: 0; }
    .main-cart .cart-item {
      flex-direction: column;
      padding: 15px; }
      .main-cart .cart-item .cart-image {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px !important;
        align-items: center; }
        .main-cart .cart-item .cart-image img {
          width: 120px !important;
          height: 160px !important;
          max-width: 200px !important;
          max-height: 300px !important; }
      .main-cart .cart-item .cart-title {
        justify-content: flex-start !important;
        align-items: center !important;
        padding-left: 12px !important;
        width: 100%; }
        .main-cart .cart-item .cart-title h6 {
          font-weight: bold !important;
          font-size: 1.2em !important; }
      .main-cart .cart-item .cart-quantity {
        width: 100% !important;
        padding: 0 !important;
        justify-content: flex-start !important;
        align-items: center !important;
        padding-left: 10px !important; }
        .main-cart .cart-item .cart-quantity input {
          width: 85%; }
      .main-cart .cart-item .cart-price {
        padding: 20px 10px; }
  .cart-inner-buttons {
    padding-right: 0px !important;
    justify-content: flex-end; } }

.cart-checkout-container .breadcrumb {
  border: 1px solid #eee;
  border-radius: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold; }

.cart-checkout-information .cart-info .customer-details {
  margin-top: 20px;
  border: 1px solid #eee;
  padding: 20px !important; }
  .cart-checkout-information .cart-info .customer-details h5 {
    font-size: 2.3em;
    font-family: 'Josefin Sans', sans-serif; }

.cart-checkout-information .cart-info .checkout-form {
  margin-top: 20px; }
  .cart-checkout-information .cart-info .checkout-form p,
  .cart-checkout-information .cart-info .checkout-form .small-text {
    letter-spacing: 0;
    font-size: 0.8em !important;
    color: #333 !important; }
  .cart-checkout-information .cart-info .checkout-form input,
  .cart-checkout-information .cart-info .checkout-form textarea {
    border-radius: 0;
    padding: 22px;
    font-size: 0.8em; }
  .cart-checkout-information .cart-info .checkout-form .form-buttons {
    display: flex;
    justify-content: flex-end; }
    .cart-checkout-information .cart-info .checkout-form .form-buttons .greenBtn {
      margin-left: 10px; }
    .cart-checkout-information .cart-info .checkout-form .form-buttons button {
      margin-left: 10px; }

@media only screen and (max-width: 600px) {
  .cart-info .form-buttons {
    flex-direction: column; }
    .cart-info .form-buttons a {
      width: 100% !important; }
      .cart-info .form-buttons a.greenBtn {
        margin: 0 !important;
        margin-top: 10px !important; } }

.cart-shipping-info {
  margin-top: 20px;
  border: 1px solid #eee;
  padding: 20px !important; }
  .cart-shipping-info h5 {
    font-size: 2.3em;
    font-family: 'Josefin Sans', sans-serif; }

.form-buttons {
  display: flex;
  justify-content: flex-end; }
  .form-buttons .greenBtn {
    margin-left: 10px; }
  .form-buttons button {
    margin-left: 10px; }

.cart-shipping-info {
  margin-top: 20px;
  border: 1px solid #eee;
  padding: 20px !important; }
  .cart-shipping-info h5 {
    font-size: 2.3em;
    font-family: 'Josefin Sans', sans-serif; }

.form-buttons {
  display: flex;
  justify-content: flex-end; }
  .form-buttons .greenBtn {
    margin-left: 10px; }
  .form-buttons button {
    margin-left: 10px; }

.checkout-list li {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0;
  padding: 15px;
  font-weight: bold; }

.checkout-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .checkout-input input {
    border-radius: 0;
    padding: 22px;
    font-size: 0.8em;
    margin-right: 10px; }
  .checkout-input button {
    padding: 8px 26px;
    margin-right: 10px;
    font-size: 0.9em; }

.checkout-paymment-form ul div {
  padding: 10px; }

.checkout-paymment-form ul .btn.btn-outline-success.mt-2 {
  padding: 8px 23px;
  border-radius: 0;
  background-color: #000;
  color: #fff !important;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #09bc8a;
  background-color: #079c72; }

@media only screen and (max-width: 600px) {
  .checkout-list li {
    flex-direction: column; }
    .checkout-list li span {
      margin-top: 10px; }
  .checkout-paymment-form ul div {
    padding: 5px !important; } }

.contact_grid_right input[type='text'],
.contact_grid_right input[type='email'],
.contact_grid_right textarea {
  outline: none;
  padding: 15px 15px;
  font-size: 14px;
  color: #777;
  background: #f6f9fb;
  width: 100%;
  letter-spacing: 1px;
  border: none;
  border: 1px solid #ddd; }

.contact_grid_right input[type='text']:nth-child(2),
.contact_grid_right input[type='email'] {
  margin: 1em 0 0; }

.contact_grid_right textarea {
  min-height: 150px;
  margin: 1em 1.1em;
  width: 95.3% !important;
  resize: none; }

.contact_grid_right input[type='submit'],
.contact_grid_right input[type='reset'] {
  outline: none;
  padding: 15px 0;
  font-size: 14px;
  color: #fff;
  background: #000000;
  width: 45.6%;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 1.4em;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  font-weight: 700; }

.contact-left h4 {
  color: #444;
  font-size: 1em;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
  font-weight: 700; }

.contact-left p {
  font-size: 1em;
  letter-spacing: 1px; }

.contact-text a {
  color: #888; }

.contact-text a:hover {
  color: #fb383b; }

.contact-left span.fa {
  width: 50px;
  height: 50px;
  background: none;
  text-align: center;
  font-size: 1.2em;
  line-height: 2.4em;
  border: 4px solid #383737;
  color: #fb383b;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%; }

.mail-us {
  margin: 1.5em 0; }

.call {
  margin-bottom: 1.5em; }

.contact_grid_right h6,
.contact-left h6 {
  font-size: 1.2em;
  color: #ff322e;
  margin-bottom: 1.5em;
  padding-left: 16px;
  letter-spacing: 1px;
  font-weight: 700; }

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%); }

.contact-map iframe {
  width: 100%;
  height: 350px; }

/*--//contact--*/
/*--responsive--*/
@media (max-width: 991px) {
  .contact_grid_right textarea {
    min-height: 150px;
    margin: 1em 0em;
    width: 98.3% !important;
    resize: none; }
  .contact_left_grid {
    padding-left: 0; }
  .contact_grid_right input[type='submit'],
  .contact_grid_right input[type='reset'] {
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    width: 48.7%;
    border: none;
    letter-spacing: 2px;
    margin-left: 0em; }
  .contact-left {
    margin-top: 2em; } }

@media (max-width: 667px) {
  .contact_left_grid {
    padding-left: 0;
    padding: 0; }
  .contact_grid_right input[type='email'] {
    margin: 1em 0 1em 0; }
  .contact_grid_right textarea {
    min-height: 150px;
    margin: 1em 0em;
    width: 100% !important;
    resize: none; }
  .contact_grid_right input[type='submit'],
  .contact_grid_right input[type='reset'] {
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    width: 49.3%;
    border: none;
    letter-spacing: 2px;
    margin-left: 0em; } }

@media (max-width: 568px) {
  .contact_grid_right input[type='submit'],
  .contact_grid_right input[type='reset'] {
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    width: 48.98%;
    border: none;
    letter-spacing: 2px;
    margin-left: 0em; } }

@media (max-width: 375px) {
  .contact_grid_right input[type='submit'],
  .contact_grid_right input[type='reset'] {
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    width: 47.98%;
    border: none;
    letter-spacing: 2px;
    margin-left: 0em; }
  .contact-left span.fa {
    width: 38px;
    height: 38px;
    background: none;
    text-align: center;
    font-size: 1em;
    line-height: 2.1em; } }

.contact-icon span {
  border: 1px solid red !important; }

/*--//responsive--*/
