.main-cart {
  margin-top: 40px; }
  .main-cart .cart-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(217, 171, 115, 0.3);
    box-shadow: 1px 2px 2px rgba(217, 171, 115, 0.1);
    padding: 5px; }
    .main-cart .cart-item .cart-image,
    .main-cart .cart-item .cart-title,
    .main-cart .cart-item .cart-quantity,
    .main-cart .cart-item .cart-price {
      display: inline-block; }
    .main-cart .cart-item .cart-image img {
      max-width: 60px;
      max-height: 80px;
      flex-grow: 1;
      object-fit: cover; }
    .main-cart .cart-item .cart-title {
      padding: 10px;
      width: 65%;
      height: 60px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .main-cart .cart-item .cart-title .title {
        margin-left: 15px; }
        .main-cart .cart-item .cart-title .title h6 {
          font-size: 0.9em;
          letter-spacing: 0.5px;
          font-weight: 500; }
      .main-cart .cart-item .cart-title .remove button {
        background-color: #999;
        color: #fff;
        border-radius: 5px;
        width: 20px;
        height: 20px;
        padding: 0;
        outline: none;
        border: 0;
        transition: all 0.3s ease-in-out; }
        .main-cart .cart-item .cart-title .remove button:hover {
          background-color: #000; }
    .main-cart .cart-item .cart-quantity {
      padding: 0 10px;
      width: 170px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .main-cart .cart-item .cart-quantity input,
      .main-cart .cart-item .cart-quantity button {
        display: inline-block; }
      .main-cart .cart-item .cart-quantity .input-group {
        display: flex; }
      .main-cart .cart-item .cart-quantity input {
        height: 50px;
        width: 50%;
        border: 1px solid #eee; }
      .main-cart .cart-item .cart-quantity button {
        border: 1px solid #eee;
        width: 30px;
        border-radius: 0px;
        font-weight: bold;
        font-size: 1.2em;
        height: 50px; }
    .main-cart .cart-item .cart-price {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
  .main-cart .title {
    font-family: 'Josefin Sans', sans-serif; }
  .main-cart .btn-delete-from-cart {
    background-color: rgba(0, 0, 0, 0); }
  .main-cart .cartTotalsWrapper {
    margin-bottom: 20px; }
    .main-cart .cartTotalsWrapper .cart-totals {
      padding: 10px;
      background-color: #fcfcfc;
      border: 1px solid #eee;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      padding-right: 75px; }
      .main-cart .cartTotalsWrapper .cart-totals h6 {
        margin-bottom: 10px;
        font-weight: bold; }

.cart-buttons .cart-inner-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px; }

.cart-buttons .mainBtn {
  margin-left: 10px; }

.mainBtn {
  padding: 8px 23px;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .mainBtn.greenBtn {
    background-color: #09bc8a; }
    .mainBtn.greenBtn:hover {
      background-color: #079c72; }
  .mainBtn:hover {
    background-color: #333;
    color: #fff; }

@media only screen and (max-width: 992px) {
  .main-cart {
    padding-right: 40px; }
  .cart-totals {
    padding: 10px;
    background-color: #fcfcfc;
    border: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 15px !important; }
    .cart-totals h6 {
      margin-bottom: 10px;
      font-weight: bold; }
  .cart-inner-buttons {
    padding-right: 15px !important;
    justify-content: flex-end; } }

@media only screen and (max-width: 600px) {
  .main-cart {
    padding: 0; }
    .main-cart .cart-item {
      flex-direction: column;
      padding: 15px; }
      .main-cart .cart-item .cart-image {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px !important;
        align-items: center; }
        .main-cart .cart-item .cart-image img {
          width: 120px !important;
          height: 160px !important;
          max-width: 200px !important;
          max-height: 300px !important; }
      .main-cart .cart-item .cart-title {
        justify-content: flex-start !important;
        align-items: center !important;
        padding-left: 12px !important;
        width: 100%; }
        .main-cart .cart-item .cart-title h6 {
          font-weight: bold !important;
          font-size: 1.2em !important; }
      .main-cart .cart-item .cart-quantity {
        width: 100% !important;
        padding: 0 !important;
        justify-content: flex-start !important;
        align-items: center !important;
        padding-left: 10px !important; }
        .main-cart .cart-item .cart-quantity input {
          width: 85%; }
      .main-cart .cart-item .cart-price {
        padding: 20px 10px; }
  .cart-inner-buttons {
    padding-right: 0px !important;
    justify-content: flex-end; } }
