.shopping-cart {
  padding: 10px; }
  .shopping-cart h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em; }
  .shopping-cart .cart-product {
    margin-bottom: 20px;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 5px;
    transition: all 0.3s ease; }
    .shopping-cart .cart-product:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    .shopping-cart .cart-product img {
      max-width: 100%;
      object-fit: cover;
      border: 1px solid #eee;
      border-radius: 5px; }
    .shopping-cart .cart-product .input-group {
      width: 160px; }
      .shopping-cart .cart-product .input-group button {
        width: 30px;
        float: left;
        display: inline-block;
        height: 45px;
        border-radius: 0;
        padding: 11px;
        line-height: 5px !important;
        font-weight: bold;
        background-color: #fff;
        color: #111;
        border: 1px solid #ccc; }
      .shopping-cart .cart-product .input-group input {
        display: inline-block;
        width: 80px;
        height: 45px; }

.bordered {
  border: 1px solid red; }

@media only screen and (min-width: 767px) {
  .product-title-box,
  .cart-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    height: 150px; }
    .product-title-box.cart-box-right,
    .cart-box.cart-box-right {
      align-items: flex-end;
      padding-right: 20px; }
    .product-title-box .product-title,
    .cart-box .product-title {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      font-size: 1.3em;
      color: #333; } }

.cart-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; }
  .cart-buttons button {
    margin-right: 10px; }
