{{> themes/MarieLyne/front-menu}}
<div class="container contact-form">
  <div class="row">
    <div class="col-md-8">
      <form method="post">
        <h3>Leave us a message!</h3>
        <p>
          Fill out this quick form to drop us a message. We look forward to
          hearing from you and will get back to you as soon as we can.
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input
                type="text"
                name="txtName"
                class="form-control"
                placeholder="Your Name *"
                value=""
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="txtEmail"
                class="form-control"
                placeholder="Your Email *"
                value=""
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="txtPhone"
                class="form-control"
                placeholder="Your Phone Number *"
                value=""
              />
            </div>
            <div class="form-group">
              <input
                type="submit"
                name="btnSubmit"
                class="btnContact"
                value="Send Message"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea
                name="txtMsg"
                class="form-control"
                placeholder="Your Message *"
                style="width: 100%; height: 150px"
              ></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 address">
      <h3>Other ways to reach us!</h3>
      <div class="container-fluid">
        <ion-icon name="location"></ion-icon>
        <p>
          Address line 1
          <br />
          Address line 2
          <br />
          Nairobi, Kenya
        </p>
      </div>
      <div class="container-fluid">
        <ion-icon name="call"></ion-icon>
        <p>
          +254 789 454 177
          <br />
          +254 750 441 114
          <br />
        </p>
      </div>
      <div class="container-fluid">
        <ion-icon name="mail"></ion-icon>
        <p>
          info@mlhair.com
          <br />
        </p>
      </div>
      <hr />
      <div class="container-fluid">
        <h5>Or just say hi!</h5>
        <div class="socialbtns">
          <ul>
            <li>
              <a href="#">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{> themes/MarieLyne/footer}}