<div class="footer">
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Quick Links</h4>
              <ul class="list-unstyled">
                <li><a href="#"></a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">Place an order</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Shipping Policy</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>News Letter</h4>
              <ul class="list-unstyled">
                <form>
                  <div class="input-group">
                    <span class="input-group-addon footer-form-icon">
                      <ion-icon name="mail"></ion-icon>
                    </span>
                    <input
                      id="email"
                      type="text"
                      class="form-control"
                      name="email"
                      placeholder="Subscribe"
                    />
                    <div class="subscribe-btn input-group-append">
                      <button type="button " class="btn btn-default">
                        <ion-icon name="paper-plane"></ion-icon>
                      </button>
                    </div>
                  </div>
                </form>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <h4>Follow Us</h4>
            <button type="button" class="btn btn-labeled social-button instagram">
              <span class="btn-label">
                <ion-icon name="logo-instagram"></ion-icon>
              </span>
            </button>
            <button type="button" class="btn btn-labeled social-button facebook">
              <span class="btn-label">
                <ion-icon name="logo-facebook"></ion-icon>
              </span>
            </button>
          </div>
        </div>
        {{#isNull @root.config.footerHtml}}
        <!-- <h5 class="text-center">Powered by expressCart</h5> -->
        <div class="row">
          <div class="col-md-12 copy">
            <p class="text-center">
              &copy; Copyright 2020 - ML Hair. All rights reserved.
            </p>
          </div>
        </div>
        {{else}} {{{@root.config.footerHtml}}} {{/isNull}}
      </div>
    </div>
  </footer>
  {{!-- <div class="d-flex h-100">
    <div class="col-12 align-self-center">
    {{#isNull @root.config.footerHtml}}
      <h5 class="text-center">Powered by expressCart</h5>
    {{else}}
      {{{@root.config.footerHtml}}}
    {{/isNull}}
    </div>
  </div> --}}
</div>