<!-- /newsletter-->
<div class="newsletter_w3layouts_agile">
    <div class="col-sm-6 newsleft">
        <h3>{{ @root.__ "Newsletter" }}</h3>
    </div>
    <div class="col-sm-6 newsright">
        <form method="post">
            <input type="email" class="form-control" placeholder="{{ @root.__ "Subscribe" }}" name="email" required="">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="clearfix"></div>
</div>
<!-- //newsletter-->