<!-- /newsletter-->
<div class="newsletter_w3layouts_agile">
    <div class="col-sm-6 newsleft">
        <h3>{{ @root.__ "Newsletter" }}</h3>
    </div>
    <div class="col-sm-6 newsright">
        <div class="description">
            <form method="post">
                <input type="email" value="" id="add-subscription-email" placeholder="{{ @root.__ "Subscribe" }}" required="">
                <input type="submit" value="Check" id="add-newsletter-subscription">
            </form>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!-- //newsletter-->