{{> themes/MarieLyne/front-menu}}
  <div class="container">
    <section class="section-services">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8">
            <div class="header-section">
              <h2 class="title">Our <span>Services</span></h2>
              <p class="description">
                There are many variations of passages of Lorem Ipsum available
                but the majority have suffered alteration in some injected
                humour
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start Single Service -->
          <div class="col-md-6 col-lg-4">
            <div class="single-service">
              <div class="part-1">
                <i class="fab fa-500px"></i>
                <h3 class="title">Hair Care Products</h3>
              </div>
              <div class="part-2">
                <p class="description">
                  Express delivery inno service effective logistics solution for
                  delivery of small cargo delivery service.
                </p>
                <a href="#"
                  ><ion-icon name="arrow-forward-circle"></ion-icon>Read More</a
                >
              </div>
            </div>
          </div>
          <!-- / End Single Service -->
          <!-- Start Single Service -->
          <div class="col-md-6 col-lg-4">
            <div class="single-service">
              <div class="part-1">
                <i class="fab fa-angellist"></i>
                <h3 class="title">Closures & Frontals</h3>
              </div>
              <div class="part-2">
                <p class="description">
                  Express delivery inno service effective logistics solution for
                  delivery of small cargo delivery service.
                </p>
                <a href="#"
                  ><ion-icon name="arrow-forward-circle"></ion-icon>Read More</a
                >
              </div>
            </div>
          </div>
          <!-- / End Single Service -->
          <!-- Start Single Service -->
          <div class="col-md-6 col-lg-4">
            <div class="single-service">
              <div class="part-1">
                <i class="fas fa-award"></i>
                <h3 class="title">Hair Consultations</h3>
              </div>
              <div class="part-2">
                <p class="description">
                  Express delivery inno service effective logistics solution for
                  delivery of small cargo delivery service.
                </p>
                <a href="#"
                  ><ion-icon name="arrow-forward-circle"></ion-icon>Read More</a
                >
              </div>
            </div>
          </div>
          <!-- / End Single Service -->
          <!-- Start Single Service -->
          <div class="col-md-6 col-lg-4">
            <div class="single-service">
              <div class="part-1">
                <i class="fab fa-asymmetrik"></i>
                <h3 class="title">Sew-in Weave</h3>
              </div>
              <div class="part-2">
                <p class="description">
                  Express delivery inno service effective logistics solution for
                  delivery of small cargo delivery service.
                </p>
                <a href="#"
                  ><ion-icon name="arrow-forward-circle"></ion-icon>Read More</a
                >
              </div>
            </div>
          </div>
          <!-- / End Single Service -->
          <!-- Start Single Service -->
          <div class="col-md-6 col-lg-4">
            <div class="single-service">
              <div class="part-1">
                <i class="fas fa-broadcast-tower"></i>
                <h3 class="title">Weave Maintenance</h3>
              </div>
              <div class="part-2">
                <p class="description">
                  Express delivery inno service effective logistics solution for
                  delivery of small cargo delivery service.
                </p>
                <a href="#">
                  <ion-icon name="arrow-forward-circle"></ion-icon>
                  Read More
                </a>
              </div>
            </div>
          </div>
          <!-- / End Single Service -->
          <!-- Start Single Service -->
          <div class="col-md-6 col-lg-4">
            <div class="single-service">
              <div class="part-1">
                <i class="fab fa-canadian-maple-leaf"></i>
                <h3 class="title">Hairdressing</h3>
              </div>
              <div class="part-2">
                <p class="description">
                  Express delivery inno service effective logistics solution for
                  delivery of small cargo delivery service.
                </p>
                <a href="#"
                  ><ion-icon name="arrow-forward-circle"></ion-icon>Read More</a
                >
              </div>
            </div>
          </div>
          <!-- / End Single Service -->
        </div>
      </div>
    </section>
  </div>
{{> themes/MarieLyne/footer}}