/* TOPNAVBAR STYLES */
.topNavBar {
  background-color: #fff;
  padding: 0;
}

.topNavBar .navbar-brand {
  color: #d9ab73;
  font-size: 1em;
  height: auto;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  transition: all 0.2s ease;
  margin-top: 5px;
  letter-spacing: 2.5px;
}

.topNavBar ion-icon {
  font-size: 1.2em;
  color: #d9ab73;
}
/* END TOPNAVBAR STYLES */

/* MAINMENU STYLES */

.mainMenuBar {
  background-color: #d9ab73;
  margin-bottom: 0;
}

.mainMenuBar .nav-item {
  cursor: pointer;
}

/* .nav-item.active {
  border-top: 4px solid #2e282a;
} */

.mainMenuBar .nav-item .nav-link {
  color: #fcfcfc !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  transition: all 0.3s ease-in-out;
}

.mainMenuBar .nav-item .nav-link:hover {
  color: #14192e !important;
}

.mainMenuBar ion-icon {
  font-size: 1.5em;
}

.mainMenuBar #frm_search {
  width: 100%;
}

.mainMenuBar #btn_search {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.mainMenuBar #btn_search:hover {
  color: #14192e;
}

.mainMenuBar .navbar-toggler {
  padding: 0;
}

/* END MAINMENU STYLES */
/* Tablet */
@media only screen and (max-width: 768px) {
  /* TOPNAVBAR RESPONSIVE STYLES */
  .topNavBar .navbar-brand {
    margin-left: 10px;
  }

  /* MAINMENU STYLES */
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .mainMenuBar .nav-item {
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid #d9ab73;
    margin-bottom: 2px;
  }
}

/* The container surrounding everything on the index after the menu */
.productsWrapper {
  margin-top: -24px;
  padding: 0px;
}

/* The container surrounding the products. Elements after the carousel */
.product-layout {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.product-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-width: 380px;
  margin: 1% auto;
  /* padding: 10px; */
}

.thumbnail {
  border: 2px solid #f2eae4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.img-thumbnail {
  height: 350px;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f2eae4;
}

.product-image {
  height: 99%;
  width: 99%;
  margin: 0 auto;
  border-radius: 7px;
}

.product-info {
  background-color: #f2eae4;
  padding: 1px;
  margin: 0;
  text-align: left;
  justify-content: start;
  padding-left: 20px;
  padding-top: 15px;
  text-transform: uppercase;
}

.product-title-home {
  justify-content: start;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.product-price {
  text-align: left !important;
  font-size: 0.9em;
  color: #b08045;
  margin-bottom: 0px;
}

.product-info .btn {
  background-color: #fff;
  color: #0d1821;
  transition: all 0.3s ease-in-out;
  padding: 4px 8px;
}

.product-info .btn:hover {
  color: #d9ab73;
}

@media only screen and (max-width: 768px) {
  .product-layout {
    padding: 0;
  }
  .product-layout > div {
    padding: 5px;
    box-shadow: none;
    max-width: 280px;
  }
  .thumbnail {
    border: 0.5px solid #f2eae4;
    border-radius: 3px;
  }
  .img-thumbnail {
    height: 240px;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .product-info {
    padding-left: 7px;
    padding-top: 0px;
  }
  .product-price {
    font-size: 0.7em;
    margin-bottom: 0px;
  }
  .product-title-home {
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-top: 0;
  }
}
