<form action="/paypal/checkout_action" method="POST">
    <div class="paypal_button">
        <div class="mb-2">{{@root.paymentConfig.paypal.description}}</div>
        <button id="checkout_paypal" class="btn btn-outline-success waves-effect waves-light blue darken-3" type="submit">Pay with PayPal</button>
    </div>
</form>

<div id="smart-button-container" class="mb-2">
    <div style="text-align: center;">
        <div id="paypal-button-container"></div>
    </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id={{ @root.paymentConfig.paypal.client_id }}&currency={{ @root.config.currencyISO }}" data-sdk-integration-source="button-factory"></script>

<script>
    function initPayPalButton() {
        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'gold',
                layout: 'vertical',
                label: 'paypal',

            },

            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        "amount":{
                            "currency_code": "{{ @root.config.currencyISO }}",
                            "value":1
                        }
                    }]
                });
            },

            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            },

            onError: function(err) {
                console.log(err);
            }
        }).render('#paypal-button-container');
    }
    initPayPalButton();
</script>