// *** COLORS ***
$primary_color: #d9ab73;
$primary_color_darker: #d39f5f;
$primary_color_rgba: rgba(217, 171, 115, 0.6);
$secondary_color: #f2eae4;
$dark_color: #191919 !important;
$light_color: #fcfcfc !important;

// *** FONTS ***
$font_1_family: 'Montserrat', sans-serif !important;
$font_2_family: 'Raleway', sans-serif !important;

// *** TRANSITIONS ***
$color_transition: all 0.3s ease;
