// Variables
@import 'base';
// File importing different component styles
@import 'components/components';

// Container wraps everything on the index after menu
.productsWrapper {
  margin-top: -24px;
  padding: 0;
  background: $light_color;

  /* The container wraps the products. */
  .product-layout {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  // Wraps the individual product col
  .product-item {
    max-width: 380px;
    margin: 1% auto;

    .thumbnail {
      border: 1px solid #eee;

      .img-thumbnail {
        height: 350px;
        padding: 0;
        background-color: $secondary_color;

        .product-image {
          height: 100%;
          width: 100%;
          margin: 0 auto;
        }
      }

      .product-info {
        background-color: #eee;
        padding: 1px;
        margin: 0;
        text-align: left;
        justify-content: start;
        padding-left: 25px;
        padding-top: 10px;
        text-transform: uppercase;

        .product-title-home {
          justify-content: start;
          font-size: 0.8em;
          margin-bottom: 5px;
          font-family: $font_1_family;
          font-weight: bold;
          letter-spacing: 1px;
        }

        .product-price {
          text-align: left !important;
          font-size: 0.9em;
          color: $primary_color;
          margin-bottom: 0px;
          font-weight: bold;
        }

        .btn {
          background-color: #fff;
          color: #0d1821;
          transition: all 0.3s ease-in-out;
          padding: 4px 8px;

          &:hover {
            color: $primary_color;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .product-layout {
    padding: 0;
  }
  .product-layout > div {
    padding: 5px;
    box-shadow: none;
    max-width: 280px;
  }
  .thumbnail {
    border: 0.5px solid #d9ab73;
    border-radius: 3px;
  }
  .img-thumbnail {
    height: 240px;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .product-info {
    padding-left: 7px;
    padding-top: 0px;
  }
  .product-price {
    font-size: 0.7em;
    margin-bottom: 0px;
  }
  .product-title-home {
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-top: 0;
  }
}
