.banner_top.innerpage {
  /* background: url(../images/banner3.jpg) no-repeat 0px -221px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover; */
  /* min-height: 225px;
  background-color: #d9ab73; */
}
